<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ironman.ticketsellingsystem.dao.PasengerMapper">

    <resultMap id="BaseResultMap" type="org.ironman.ticketsellingsystem.entity.PasengerEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="CHAR"/>
        <result column="id_card" property="idCard" jdbcType="CHAR"/>
        <result column="id_card_type" property="idCardType" jdbcType="CHAR"/>
        <result column="phone" property="phone" jdbcType="INTEGER"/>
        <result column="type" property="type" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, id_card, id_card_type, phone, type
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from pasenger
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from pasenger
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="org.ironman.ticketsellingsystem.entity.PasengerEntity">
        insert into pasenger (id, name, id_card, id_card_type, 
            phone, type)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=CHAR}, #{idCard,jdbcType=CHAR}, #{idCardType,jdbcType=CHAR}, 
            #{phone,jdbcType=INTEGER}, #{type,jdbcType=CHAR})
    </insert>

    <insert id="insertSelective" parameterType="org.ironman.ticketsellingsystem.entity.PasengerEntity">
        insert into pasenger
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="idCardType != null">
                id_card_type,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=CHAR},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=CHAR},
            </if>
            <if test="idCardType != null">
                #{idCardType,jdbcType=CHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=CHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.ironman.ticketsellingsystem.entity.PasengerEntity">
        update pasenger
        <set>
            <if test="name != null">
                name = #{name,jdbcType=CHAR},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=CHAR},
            </if>
            <if test="idCardType != null">
                id_card_type = #{idCardType,jdbcType=CHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.ironman.ticketsellingsystem.entity.PasengerEntity">
        update pasenger
        set name = #{name,jdbcType=CHAR},
            id_card = #{idCard,jdbcType=CHAR},
            id_card_type = #{idCardType,jdbcType=CHAR},
            phone = #{phone,jdbcType=INTEGER},
            type = #{type,jdbcType=CHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>