<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ironman.ticketsellingsystem.dao.UserTrainMapper">

    <resultMap id="BaseResultMap" type="org.ironman.ticketsellingsystem.entity.UserTrainEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="train_id" property="trainId" jdbcType="INTEGER"/>
        <result column="pasenger_id" property="pasengerId" jdbcType="INTEGER"/>
        <result column="order_time" property="orderTime" jdbcType="TIMESTAMP"/>
        <result column="seat" property="seat" jdbcType="VARCHAR"/>
        <result column="price" property="price" jdbcType="CHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
        <result column="train_card" property="trainCard" jdbcType="CHAR"/>
        <result column="start_place" property="startPlace" jdbcType="VARCHAR"/>
        <result column="end_place" property="endPlace" jdbcType="VARCHAR"/>
        <result column="start_time" property="startTime" jdbcType="TIMESTAMP"/>
        <result column="end_time" property="endTime" jdbcType="TIMESTAMP"/>
        <result column="name" property="name" jdbcType="CHAR"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, user_id, train_id, pasenger_id, order_time, seat, price, state
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user_train
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user_train
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="org.ironman.ticketsellingsystem.entity.UserTrainEntity">
        insert into user_train (id, user_id, train_id, 
            pasenger_id, order_time, seat, 
            price, state)
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{trainId,jdbcType=INTEGER}, 
            #{pasengerId,jdbcType=INTEGER}, #{orderTime,jdbcType=TIMESTAMP}, #{seat,jdbcType=VARCHAR}, 
            #{price,jdbcType=CHAR}, #{state,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" parameterType="org.ironman.ticketsellingsystem.entity.UserTrainEntity">
        insert into user_train
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="trainId != null">
                train_id,
            </if>
            <if test="pasengerId != null">
                pasenger_id,
            </if>
            <if test="orderTime != null">
                order_time,
            </if>
            <if test="seat != null">
                seat,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="state != null">
                state,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="trainId != null">
                #{trainId,jdbcType=INTEGER},
            </if>
            <if test="pasengerId != null">
                #{pasengerId,jdbcType=INTEGER},
            </if>
            <if test="orderTime != null">
                #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="seat != null">
                #{seat,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=CHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.ironman.ticketsellingsystem.entity.UserTrainEntity">
        update user_train
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="trainId != null">
                train_id = #{trainId,jdbcType=INTEGER},
            </if>
            <if test="pasengerId != null">
                pasenger_id = #{pasengerId,jdbcType=INTEGER},
            </if>
            <if test="orderTime != null">
                order_time = #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="seat != null">
                seat = #{seat,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=CHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.ironman.ticketsellingsystem.entity.UserTrainEntity">
        update user_train
        set user_id = #{userId,jdbcType=INTEGER},
            train_id = #{trainId,jdbcType=INTEGER},
            pasenger_id = #{pasengerId,jdbcType=INTEGER},
            order_time = #{orderTime,jdbcType=TIMESTAMP},
            seat = #{seat,jdbcType=VARCHAR},
            price = #{price,jdbcType=CHAR},
            state = #{state,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectByState" resultMap="BaseResultMap"
            parameterType="org.ironman.ticketsellingsystem.entity.TrainEntity">
        select
       *
        from user_train,pasenger,train
        where  state = #{state,jdbcType=VARCHAR}
        and user_id = #{userId,jdbcType=INTEGER}
        and user_train.pasenger_id=pasenger.id
        and user_train.train_id=train.id
    </select>

    <insert id="insertNoId" parameterType="org.ironman.ticketsellingsystem.entity.UserTrainEntity">
        insert into user_train (user_id, train_id,
            pasenger_id, order_time, seat,
            price, state)
        values ( #{userId,jdbcType=INTEGER}, #{trainId,jdbcType=INTEGER},
            #{pasengerId,jdbcType=INTEGER}, #{orderTime,jdbcType=TIMESTAMP}, #{seat,jdbcType=VARCHAR},
            #{price,jdbcType=CHAR}, #{state,jdbcType=VARCHAR})
    </insert>

    <select id="selectAllByState" resultMap="BaseResultMap"
            parameterType="org.ironman.ticketsellingsystem.entity.TrainEntity">
        select
       *
        from user_train,pasenger,train
        where  state = #{state,jdbcType=VARCHAR}
        and user_train.pasenger_id=pasenger.id
        and user_train.train_id=train.id
    </select>
</mapper>