<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ironman.ticketsellingsystem.dao.UserPasengerMapper" >

    <resultMap id="BaseResultMap" type="org.ironman.ticketsellingsystem.entity.UserPasengerEntity" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="pasenger_id" property="pasengerId" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_id, pasenger_id
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select 
        <include refid="Base_Column_List" />
        from user_pasenger
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from user_pasenger
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="org.ironman.ticketsellingsystem.entity.UserPasengerEntity" >
        insert into user_pasenger (id, user_id, pasenger_id
            )
        values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{pasengerId,jdbcType=INTEGER}
            )
    </insert>

    <insert id="insertSelective" parameterType="org.ironman.ticketsellingsystem.entity.UserPasengerEntity" >
        insert into user_pasenger
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="pasengerId != null" >
                pasenger_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="pasengerId != null" >
                #{pasengerId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="org.ironman.ticketsellingsystem.entity.UserPasengerEntity" >
        update user_pasenger
        <set >
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="pasengerId != null" >
                pasenger_id = #{pasengerId,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="org.ironman.ticketsellingsystem.entity.UserPasengerEntity" >
        update user_pasenger
        set user_id = #{userId,jdbcType=INTEGER},
            pasenger_id = #{pasengerId,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>